DATABASE_URI="sqlite:////opt/flightlog/logbook/logbook.db"
IGC_FILES_BUCKET="logbook-igc-files"
AWS_ACCESS_KEY_ID="{{ secrets['logbook_aws_access_key_id'] }}"
AWS_SECRET_ACCESS_KEY="{{ secrets['logbook_aws_secret_access_key'] }}"
PASSWORD_HASH_SECRET_KEY="{{ secrets['logbook_password_hash_secret_key'] }}"
PASSWORD_HASH_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
