.vscode/
*__pycache__*
*.pytest_cache*
*.egg-info*
*.mypy_cache
.DS_Store
.virtualenv
.env
.env.development
.env.production
*.whl
dist/
build/
node_modules/
*.log

ansible/inventory/
ansible/ansible.cfg