.vscode/
*__pycache__*
*.pytest_cache*
*.egg-info*

ansible/inventory/build.ini

backend/.virtualenv/
backend/dist/
backend/docker/*.whl

frontend/.env
frontend/build/
frontend/docker/build/
frontend/node_modules/
